svg#pic1(viewbox="-50 -50 100 100")  
  line(x1=-20 y1=0 x2=20 y2=0)
  line(x1=0 y1=-20 x2=0 y2=20)
  circle(cx=0 cy=0 r=10)
    animate(attributeName="r" values="10;20;10;" dur="2s"  repeatCount="indefinite")  
svg#pic2(viewbox="-50 -50 100 100")
  g  
    circle(cx=0 cy=0 r=10)
    line(x1=-20 y1=0 x2=20 y2=0)
    line(x1=0 y1=-20 x2=0 y2=20)
    rect(x=-20 y=-20 width=40 height=40)
    animateTransform(attributeName="transform" values="10;360;" dur="2s" type="rotate"  repeatCount="indefinite")  
svg#pic3(viewbox="0 0 200 200")   
  circle(cx=0 cy=50 r=3)
    animate(attributeName="cy" values="50;80;50" dur="2s"  repeatCount="indefinite")   
  circle(cx=50 cy=70 r=3)
    animate(attributeName="cy" values="70;90;70" dur="2s"  repeatCount="indefinite")   
  circle(cx=100 cy=20 r=3)
    animate(attributeName="cy" values="20;60;20" dur="2s"  repeatCount="indefinite")   
  circle(cx=150 cy=150 r=3)
    animate(attributeName="cy" values="150;70;150" dur="2s"  repeatCount="indefinite")   
  circle(cx=200 cy=130 r=3)
    animate(attributeName="cy" values="130;100;130" dur="2s"  repeatCount="indefinite")   
  polyline(points="0,50 50,70 100,20 150,150 200,130" )
    animate(attributeName="points" values="0,50 50,70 100,20 150,150 200,130;0,80 50,90 100,60 150,70 200,100;0,50 50,70 100,20 150,150 200,130;" dur="2s"  repeatCount="indefinite")  
svg#pic4(viewbox="0 0 200 200")
  rect(x=0 y=0 width=20 height=100)
    animate(attributeName="height" begain="0s" dur="2s" values="100;200;100" repeatCount="indefinite")
  rect(x=30 y=0 width=20 height=50)
    animate(attributeName="height" begain="0s" dur="2s" values="50;90;50" repeatCount="indefinite")
  rect(x=60 y=0 width=20 height=120)
    animate(attributeName="height" begain="0s" dur="2s" values="120;150;120" repeatCount="indefinite")
  rect(x=90 y=0 width=20 height=150)
    animate(attributeName="height" begain="0s" dur="2s" values="150;50;150" repeatCount="indefinite")
  rect(x=120 y=0 width=20 height=180)
    animate(attributeName="height" begain="0s" dur="2s" values="180;20;180" repeatCount="indefinite")
  rect(x=150 y=0 width=20 height=30)
    animate(attributeName="height" begain="0s" dur="2s" values="30;80;30" repeatCount="indefinite")
  rect(x=180 y=0 width=20 height=70)
    animate(attributeName="height" begain="0s" dur="2s" values="70;140;70" repeatCount="indefinite")
  
svg#pic5(viewbox="-50 -60 100 100")
  rect.frame_outer(x=-30 y=-40 width=60 height=40)
  rect.frame_inner(x=-25 y=-35 width=50 height=30)
  rect.neck(x=-2 y=0 width=4 height=10)
  rect.bottom(x=-6 y=10 width=12 height=4)
  g.screen_content
    line(x1=-20 y1=-15 x2=-10 y2=-15)
    line(x1=-20 y1=-10 x2=-5 y2=-10)
    circle(cx=10 cy=-20 r=8)
  text.text(x=-30 y=24) My Computer
  
  
svg#pic4(viewbox="0 0 200 200")
  rect(x=0 y=0 width=20 height=100)
    animate(attributeName="height" begin="0s" dur="2s" values="100;200;100" repeatCount="indefinite" )
  rect(x=30 y=0 width=20 height=120)
    animate(attributeName="height" begin="-0.3s" dur="2s" values="100;200;100" repeatCount="indefinite")
  rect(x=60 y=0 width=20 height=140)
    animate(attributeName="height" begin="-0.6s" dur="2s" values="100;200;100" repeatCount="indefinite")
  rect(x=90 y=0 width=20 height=160)
    animate(attributeName="height" begin="-0.9s" dur="2s" values="100;200;100" repeatCount="indefinite")
  rect(x=120 y=0 width=20 height=120)
    animate(attributeName="height" begin="-1.2s" dur="2s" values="100;200;100" repeatCount="indefinite")
  rect(x=150 y=0 width=20 height=80)
    animate(attributeName="height" begin="-1.5s" dur="2s" values="100;200;100" repeatCount="indefinite")
  rect(x=180 y=0 width=20 height=60)
    animate(attributeName="height" begin="-1.8s" dur="2s" values="100;200;100" repeatCount="indefinite")